.bottom-menu {
    display: none;
    width: 100% !important;
    justify-content: space-between !important;

}

@media screen and (max-width: 768px) {
    .bottom-menu {
        display: flex;
    }
}