@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

/* webkit style scroll bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
